#skorTablosu{
    background-color: yellow;
    font-size: xx-large;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color:purple;
    padding: 4px;
    box-shadow: 4px 4px 2px black;
    display:flex;
    justify-content: space-between;
}
#canlar{
    text-align: left;
}
#puanlar{
    text-align: right;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
background-color: rgba(101, 74, 23, 0.998);
cursor: url('rabbit2.png') 16 16, auto;
background-image: url('./grass3.jpg');
overflow: hidden;
position: relative;
margin: 0;
padding: 0;
height: 100%;
width: 100vw;
}

  
#gameOver{
    background-color: rgb(37, 2, 37);
    color:white;
    font-size: 42px;
    text-align: center;
    z-index: 101;
    height: 100vh;
    width: 100vw;
    top:0;
    left:0;
    position: fixed;
    justify-content: center;
    display: flex;
    align-items: center;
    opacity: 0.9;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}